#BandeauInfo{
	font-size:15px;
	color: #FF0000;
    font-weight:bold;
	font-family:Arial,sans-serif;
	text-align: center;
	display:block;
	position: fixed;
	height: auto;
	width: 100%;
	left: 0px;
	top: 0px; /* top : 0px, pour mettre le bandeau tout en haut / bottom: 0px; pour mettre le bandeau tout en bas */
	margin: 0px;
	padding: 10px 0;
	background-color: rgb(0, 0, 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	z-index:9999;
}
#ConteneurOk{font-size: 12px;color:#fff;margin-left:20px;font-weight:bold;}
#ConteneurOk:hover{font-size: 12px;color:#4285F4;font-weight:bold;}

#LienInfos a{
	color:#fff;
	text-decoration:underline;
	cursor:pointer;
	padding-left:20px;
	white-space:nowrap;
}

#ConteneurInfos{
    height: auto;
    padding: 15px 0;
    width: 98%;	
	background-color:black;
    left: 0;
    top: 35px; /* top : 35px, pour mettre le contenu tout en haut / bottom: 35px; pour mettre le contenu tout en bas */
    width: 100%;
    z-index: 9999;
	position:fixed;
}

#ContenuInfos{
	width:50%;
    max-height: 500px;	
	font-size:13px;	
	font-family:Arial,sans-serif;
	color:#fff;
	text-align: justify;
	border:1px solid #FFFFFF;
	margin: auto;
	padding: 10px;
    overflow: auto;
}