﻿body {
    font-family: Lato,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background-color:#F1F1F1;
    color:#206797;
}

p {
    font-size:9pt;
    width: 598px;
}

td {
    font-size:9pt;
    height:20px;
}

#lblAnnexePapier, #lblFacturePDF {
     font-size:8pt;
     text-align:center;
}

#lblBoiteDetailFacture, #lblBoiteDatesFactures,#lblBoiteFacturesLiees, #lblBoitePiecesDisponibles {
     font-size:10pt;
     color:#00ABE8;
}