﻿body {
    font-family: Lato,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background-color:#F1F1F1;
    color:#206797;
}

p {
    font-size:9pt;
    width: 481px;
}

/*table {
   width:275px;

}*/

td {
    font-size:9pt;
    height:20px;
}

li{
    font-size:10pt;
}

#lblBoiteArticle, #lblBoiteSerie,#lblBoiteCarte, #lblBoiteTerminal, #lblBoiteEtat, #lblBoiteDernierDetenteur, #lblBoiteAction,#lblBoiteGeneral,#lblBoiteActivation {
     font-size:10pt;
     color:#00ABE8;
}

#LblInformation{
font-size:9pt;
     color:#ff0000;
}


.Grid {background-color: #f1f1f1; margin: 5px 0 10px 0; border: solid 1px #FFFFFF; border-collapse:collapse;color: #206797;}
.Grid td {
      padding: 2px;
      border: solid 1px #FFFFFF; }
.Grid th  {
      padding : 4px 2px;
      border : solid 1px #FFFFFF;
      color: #00B0E7;
      background: #e6e6e6;
      /*font-size: 0.4em;*/

}

.Grid .pgr table { margin: 3px 0; }
.Grid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }  
.Grid .pgr a { color: Gray; text-decoration: none; }
.Grid .pgr a:hover { color: #000; text-decoration: none; }

.DivGridOptions{
    overflow: auto;
    height: 170px;
    width: 310px;
}

.DivGridMateriel{
    overflow: auto;
    height: 150px;
    width: 640px;
}

.loading-image {
    position: absolute;
    left: 50%;
    height: 30px;
    width: 200px;
    margin-left: -200px;
    top: 45%;
    background-color: #f0f1f0;
    text-align: center;
    vertical-align: middle;
    padding-top: 13Px;
    border: 1Px solid #00AAE8;
    z-index: 10;
}

.champs{
    font-size:12Px;
    color:#206797;
}

.actionAjouter{
    height:15px;
    width:15px;
    margin-left:10px;
    margin-right:2px;
    cursor:pointer;
    line-height: 22px;
    vertical-align: text-bottom;
}

.actionEnlever{
    height:15px;
    width:15px;
    margin-left:10px;
    margin-right:2px;
    cursor:pointer;
    line-height: 22px;
    vertical-align: text-bottom;
}

.imageDataGridView{
    height:15px;
    width:15px;
    margin-left:2px;
    margin-right:2px;
    line-height: 22px;
    vertical-align: text-bottom;
    text-align:center;
}

.imageDetail{
    height:15px;
    width:15px;
    margin-left:2px;
    margin-right:2px;
    cursor:pointer;
    line-height: 22px;
    vertical-align: text-bottom;
    text-align:center;
}

.BpBordereau {
     font-size:12px;
}

li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
    display: none;
}


