/* ==================================================== */
/* = ie.css : Prise en charge des anciens IE		  = */
/* ==================================================== */

.ConTable {
    width: 100%;
        position: relative !important;
        overflow: scroll;
}

.UpdatePanelEntetes {display: none;}

table {
    position: relative;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    height: 27px;
    font-size: 15px;
}
.breadcrumb li a {
    padding: 10px;
}
div.col1 p label {
    line-height: 15px;
    margin-top: 5px;
}
/*.ie-height {height: 20px;}*/

#login {
    background-color: #323332 !important;
}
#accordeon div ul li a:active {
    background: url("../images/bullet-grey.png") no-repeat scroll 5px center #37A8E7;
}
#accordeon {
    zoom: 1;
}
.ui-accordion-content {
    zoom: 1;
}
#tabRapport tfoot,
#tabRapport tfoot th,
#tabRapport tfoot td {
    border-top: 2px solid #00abe8;
}
table#tabRapportEntete td,
table#tabRapport td {
    width: 45px;
}
*:first-child+html p.recherche-tableau {
    /* ie7 */
    top: 20px;
}
.ob_gFAL {
    float: left !important;
}
input[type="text"] {
    border-color: #fff;
    color: #000 !important;
}
/*
.custom-checkbox input, .custom-radio input {
    left: 6px;
    top: 6px;
}
*/

.ob_iDdlIE {
    background-color: #64abe8 !important;
    color: black;
}
#tabs-Niv2-1 ul.ulonglets li a {
    height: 20px;
}
.col3 p.checkbox label {
    margin-right: 5px;
}
.breadcrumb li a.home,
.breadcrumb li a.home:hover {
    background-position: center center;
}
*+html #home-menu li a span.image {
    margin-left: 00px;
    width: 60px;
}
/* Breadcrumb
----------------------------------------*/

.breadcrumb li a {
    background: url(../images/sep-fleche-noire.gif) -20px center no-repeat;
    padding-left: 30px;
}
.breadcrumb li a:hover {
    background: url(../images/sep-fleche-noire.gif) -20px center no-repeat;
    color: #63AAE7;
}
.breadcrumb li a.home {
    background: url(../images/ie6/icon-home.gif) center center no-repeat;
}
.breadcrumb li a.home:hover {
    background: url(../images/ie6/icon-home.gif) center center no-repeat;
}
.breadcrumb li a:after,
.breadcrumb li a:before {
    display: none;
}
/* Checkbox
----------------------------------------*/

p.recherche-tableau {
    margin-top: -20px;
}

/* Les Checkboxes
----------------------------------------*/

.checkbox input[type=checkbox] {
    position: inherit;
    overflow: auto;
    clip: auto;
    height: 12px;
    width: 12px;
    position: relative;
    
}
.checkbox input[type=checkbox] + label {
    float: none;
    padding-left: 5px;
}
.checkbox input[type=checkbox]:checked + label {
    background-position: 0 0px;
}
.checkbox label {
    background-image: none;
}
/*small*/

.checkbox.small {
    font-size: 11px;
}
.checkbox.small input[type=checkbox] + label {
    padding-left: 0px;
}
.checkbox.small input[type=checkbox]:checked + label {
    background-position: 0 -15px;
}
.checkbox.small label {
    background-image: none;
}
.checkbox.small span {
    position: relative;
    float: left;
    margin-right: 15px;
}

/* Les Tableaux
----------------------------------------*/
.C_image_tri {
     float: none;
}

#footer #footer-links {
    width: 250px;
}

#footer-menu li a span {
    line-height: 30px;
}

.HideSommaire {
    height: 13px;
}

/* Divers
----------------------------------------*/

a.historyback {
    height: 44px;
    border-bottom : 1px solid #CCC;
}