/* ==================================================== */
/* = ie666.css : Prise en charge de IE6               = */
/* ==================================================== */

#header div.conteneur h1 a {
	background-image: url(../images/ie6/logo-oria.gif) !important; 
	}

.ui-tabs .ui-tabs-panel {
   height: 1%;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    display: block;
}

.divTableau {
    width: 50%;
}

div.col1, div.col2, div.col3, div.col4, div.col5 {
    width: inherit;
    zoom:1;
}

p label {
	font-size: 14px !important;
	color: #000 !important;
	display: block !important;
}

.divTableau {
    float: left;
}

a.reporting, a.contratop, a.indicex, a.suividep, a.facturation, a.gestionco, a.perimetre, a.zonechange, a.gestionpa, a.gestionparcfixe {
    background-position: 0px 2px;
    background-repeat: no-repeat;
}

/*
#accordeon div ul li a.active, #accordeon div ul li a:active {
    color: #000 !important;
    font-weight: bold;
}
*/

#accordeon div ul li  {
	margin-bottom: 5px;
}

#accordeon div ul li a {
	line-height: 10px;
}


a.close {
    display: block;
    float: left;
    height: 22px;
    line-height: 22px;
}

p.recherche-tableau input#recherche,
p.aller-page input#gopage {
    height: 26px;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    text-decoration: none;
}

.breadcrumb li a {
    padding: 10px;
}

body#echange-menu ul li {
    display: inline;
    width: 150px;
}

body#echange-menu ul li  {
    display: inherit;
}

#select_multi {
    visibility: visible;
}

table, tr, td {
    border-style: none !important;
    border-width: 0px !important;
}

#gvTable_ob_gvTableFooterContainer_Top_ob_gvTableFLC_T .ob_gFAL {
    float: left !important;
}


.ob_iDdlTC {
    background-image: none !important;
    background-color: #00ACEC !important;
}


.ui-state-active .ui-icon,
.ui-state-default .ui-icon {
    background-image: none !important;
}

.uds-bb-controls {display: none !important;}

ul#home-menu li {
	width: 160px;
	float: left;
	height: 230px;
	
}

ul#home-menu li a {
	width: 160px;
	height: 230px;
	display: block;
	margin: 0px 5px 10px 0;
}

#home-menu li a span.image {
    margin-left: 00px;
    width: 60px;
}

/* menu sidebar
----------------------------------------*/
#sidebar-menu {
    padding: 10px;
}

ul#homemenu li {
	width: 200px;
	float: left;
}

#homemenu li a.notice {
	background: url(../images/ie6/icon-notice.gif) 20px 7px no-repeat;
}

#homemenu li a.favoris {
	background: url(../images/ie6/icon-fav.gif) 20px 5px no-repeat;
}

.sf-menu li.home a {
    background: url("../images/ie6/icon-home.gif") no-repeat !important;
    
}


/* Les icones en gif 
----------------------------------------*/

#home-menu li a.reporting span.image {
	background-image: url(../images/ie6/icon-reporting.gif);
}
#home-menu li a.perimetre span.image {
	background-image: url(../images/ie6/icon-perimetre.gif);
}
#home-menu li a.facturation span.image {
	background-image: url(../images/ie6/icon-facturation.gif);
}
#home-menu li a.zonechange span.image {
	background-image: url(../images/ie6/icon-zonechange.gif);
}
#home-menu li a.operateurs span.image {
	background-image: url(../images/ie6/icon-contratop.gif);
}
#home-menu li a.indicateurs span.image {
	background-image: url(../images/ie6/icon-indicexploit.gif);
}
#home-menu li a.suivi span.image {
	background-image: url(../images/ie6/icon-suivi.gif);
}
#home-menu li a.gestionco span.image {
	background-image: url(../images/ie6/icon-gestionco.gif);
}
#home-menu li a.gestionpa span.image {
	background-image: url(../images/ie6/icon-gestionpa.gif);
}
#home-menu li a.gestionparcfixe span.image {
	background-image: url(../images/ie6/icon-gestionparcfixe.gif);
}

p#section-name.reporting {background: url(../images/ie6/icon-mini-reporting.gif) 15px center no-repeat #323332;}
p#section-name.echange {background: url(../images/ie6/icon-mini-echange.gif) 15px center no-repeat #323332;}

a.reporting 	{ background-image: url('../images/ie6/icon-mini-reporting.gif');}
a.contratop 	{ background-image: url('../images/ie6/icon-mini-contratop.gif');}
a.indicex 		{ background-image: url('../images/ie6/icon-mini-indicexploit.gif');}
a.suividep 		{ background-image: url('../images/ie6/icon-mini-suividepl.gif');}
a.facturation 	{ background-image: url('../images/ie6/icon-mini-facturation.gif');}
a.gestionco 	{ background-image: url('../images/ie6/icon-mini-gestionco.gif');}
a.perimetre 	{ background-image: url('../images/ie6/icon-mini-perimetre.gif');}
a.zonechange 	{ background-image: url('../images/ie6/icon-mini-zonechange.gif');}
a.gestionpa 	{ background-image: url('../images/ie6/icon-mini-gestionpa.gif');}
a.gestionparcfixe 	{ background-image: url('../images/ie6/icon-mini-gestionparcfixe.gif');}

ul.navigation li.debut a {
background-image: url(../images/ie6/icon-debut.gif);
}

ul.navigation li.prec a {
background-image: url(../images/ie6/icon-prec.gif);
}

ul.navigation li.next a {
background-image: url(../images/ie6/icon-next.gif);
}

ul.navigation li.end a {
background-image: url(../images/ie6/icon-fin.gif);
}

#footer #footer-links li.logofoot{ background-image: url('../images/ie6/logo-oria-xs.gif');}

.breadcrumb li a {
	background: url(../images/sep-fleche-noire.gif) -20px center no-repeat;
	padding-left: 30px;
}


.breadcrumb li a.HideSommaire {
    background: none;
    height: 13px;
}

.breadcrumb li a:hover { background: url(../images/sep-fleche-noire.gif) -20px center no-repeat; }

.breadcrumb li a.home { background: url(../images/ie6/icon-home.gif) center center no-repeat; }
.breadcrumb li a.home:hover {background: url(../images/ie6/icon-home.gif) center center no-repeat; }

/* Fix JqUI
----------------------------------------*/
.sommaire .ui-widget {
    font-size: 13px !important;
}

/* Les Checkboxes
----------------------------------------*/

.checkbox span {float:left;width: auto;margin-right:10px;}

.checkbox input {
    float: left;
}
.checkbox label {
    float: left;
    display: inline;
    text-align: left;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;

}
.checkbox input[type=checkbox]:checked + label {
    background-position: 0 -20px;
}
.checkbox label {
    background-image: none;
}
/*small*/

.checkbox.small {
    font-size: 11px;
}
.checkbox.small input[type=checkbox] + label {
    padding-left: 0px;
}
.checkbox.small input[type=checkbox]:checked + label {
    background-position: 0 -15px;
}
.checkbox.small label {
    background-image: none;
}
.checkbox.small span {
    position: relative;
    float: left;
    margin-right: 15px;
}


p.recherche-tableau {
    float: left;
    height: 13px;
    display: inline;
}

p.recherche-tableau input.recherche {
    height: 26px;
    top:0;
}

p.recherche-tableau #loupe_tabs-Niv1-1_Tableaux--1 {
    position: absolute;
    right: 0;
    top: 0;
}

.BtnActualiser {
    float: left;
    top:10px;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    display: block;
}

#tabs-Niv1 ul.ui-tabs-nav {
    height: 42px;
    position: relative;
   margin-left: 35px;
}

#tabs-Niv1 a.historyback {
    background: url(../images/icon-back.gif) no-repeat 6px 6px #fff;
    width: 40px;
    height: 45px;
    position: absolute;
    display: block;
    top:0px;
    left:0px;
}



#idDivBoiteOutils1 {
    width: 90%;
    float: left;
    height: 1%;
}
.ui-widget-content {

}

.ui-tabs-panel {
}

.ConTable {
    margin-top:20px;
}
.cv-left{
    float: left;
    width: 135px;
    text-align: right;
}

.cv-right {
    float: left;
    padding-left: 10px;
}

.SearchToolsBox .col2 {
    width:280px;
    height:30px;
    margin-top: 30px;
    margin-bottom: -15px;
}

.SearchToolsBox .col3 {
    margin:0;
}

#accordeon div ul li a.active,
#accordeon div ul li a:active {
            background-color: #fff !important;
            color: black;
        }