/* ==================================================== */
/* = ie8.css : Prise en charge des anciens IE		  = */
/* ==================================================== */

/* Les Tableaux
----------------------------------------*/
.C_image_tri {
    float: right;
}

p.recherche-tableau {
    margin-top: 0px;
}

#accordeon div ul li a.active, #accordeon div ul li a:active {
    background-color: #37a8e7 !important;
    font-variant: small-caps;
}

a.historyback {
    border-bottom : none;
}

.ConTable {
    float: left;
    overflow:hidden;
}