﻿.sf-menu, .sf-menu * {
	font-size: 13px; /* IE 7 and below */
}

div.blocacc {
	margin-right: 10px; 
}
	
#header2  h1 a {
	background: url(images/logo-oriantel-ie.png) no-repeat;
}


ul.menuoriantel li a i  {
	float: left;
}

ul.menuoriantel li  {
	height: 27px !important;
}