#blocAriane, #blocSommaire, #blocCorps, #blocFooter {
    background-color: white;
}

#UpdatePanelAriane {
    background-color: white;
}

#bloccentre {
    margin-right: auto;
    margin-left: auto;
}
#blocSommaire  {
    float:left;
    width: 224px;
    padding-bottom:35Px;
    position:relative;
}
#blocFondSommaire {
    position:absolute;
    bottom:0Px;
    height:35Px;
    width:220Px;
    margin-left:2Px;
    margin-right:2Px;
    background-color:#f1f1f1;
}
#blocCorps {
    margin-left: 224px;
    overflow: hidden;
}
#blocFooter {
overflow:hidden;
width:100%;
height: 38px;
position: fixed;
bottom: 1px;
left: 0px;
z-index:90;
}

.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
    overflow: hidden;
}

form#form1 {
}

/*Media queries*/

/* Tablettes) */

@media screen and (max-width: 768px) {
    

    div.col1,
    div.col2,
    div.col3,
    div.col4,
    div.col5,
    input.btn_refresh{
        float: left;
        width: 100%;
    }

    #idDivColsFiltres1 span.customSelect
         {width: 70% !important;
        }
    
    label {
        text-align: left !important;
    }
    
/*
    p.checkbox span {
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }
    
    span.customSelect.styled
     {width: 100% !important;
    }
*/
    
    .breadcrumb li a {
        background: url(../images/sep-fleche-noire.gif) -20px center no-repeat;
        padding-left: 30px;
        font-size: 11px;
    }
    .breadcrumb li a:hover { background: url(../images/sep-fleche-noire.gif) -20px center no-repeat;
        color: #63AAE7; }
    
    .breadcrumb li a.home { background: url(../images/ie6/icon-home.gif) center center no-repeat; }
    .breadcrumb li a.home:hover {background: url(../images/ie6/icon-home.gif) center center no-repeat; }
    
    .breadcrumb li a:after,
    .breadcrumb li a:before { 
        display: none;
        }   

}

@media screen and (max-width: 1024px)
    and (orientation : landscape)  {
    
        div.col1,
        div.col2,
        div.col3,
        div.col4,
        div.col5,
        input.btn_refresh{
            float: left;
            width: 100%;
        }
        
        label {
            text-align: left !important;
        }
        
        p.checkbox span {
            float: left;
            width: 100%;
            margin-bottom: 5px;
        }
        
    #idDivColsFiltres1 span.customSelect
         {width: 70% !important;
        }

.breadcrumb li a {
    background: url(../images/sep-fleche-noire.gif) -20px center no-repeat;
    padding-left: 30px;
    font-size: 11px;
}
.breadcrumb li a:hover { background: url(../images/sep-fleche-noire.gif) -20px center no-repeat;
    color: #63AAE7; }

.breadcrumb li a.home { background: url(../images/ie6/icon-home.gif) center center no-repeat; }
.breadcrumb li a.home:hover {background: url(../images/ie6/icon-home.gif) center center no-repeat; }

.breadcrumb li a:after,
.breadcrumb li a:before { 
    display: none;
    }   


}