﻿a.historyback {
    float: left;
    background: url(../images/icon-back.png) no-repeat 2px 6px #fff;
    width: 33px;
    height: 35px;
    text-indent: -9999px;
    /* top: 6px;
    left: 8px;*/
    opacity: 0.35;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

    a.historyback:hover {
        opacity: 1;
    }