/*
Theme Name: Oria 2012
Theme URI: 
Description:
Version: 1.0
Author: burografik
Author URI: http://www.burografik.com/
Tags: 
Text Domain: 
*/

@import url("reset.css");

body {
	letter-spacing:0;
	color: black;
	/*text-shadow:0 1px 0 rgba(255,255,255,.8);*/
	-webkit-font-smoothing: subpixel-antialiased; 
	font: 0.625em 'Lato', Helvetica, Arial, sans-serif; 
	background: url(images/fond-menu.png) no-repeat center 104px; 
	}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

#header {
	height: 154px;
	margin: 0 auto;
	padding: 0; 
	width: 1070px; 
	position: relative; 
	}

div.slideshow {
	height: 90px;
	margin: 0 auto;
	width: 600px;
	position: absolute;
	top: 10px;
	left: 160px;
}
	
div.slideshow #uds-bb-0 { 
	width: 960px; 
	margin-right: auto; 
	margin-left: auto; 
	}

#main { 
	width: 650px;
    display:inline-block;
	}

#main.home { 
	width: 960px; 
	margin: 0; 
	}


#footer {
	background: #333333 0;
	color: white; 
	margin: 20px auto 20px auto;
	/*text-shadow: none;*/
	height: 40px;
	width: 960px;
	position: relative;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
	
#actufooter, #listcat, #last { 
	width: 290px; 
	margin-left: 15px; 
	margin-right: 15px; 
	float: left; 
	}

h3,h4,h5,h6 {
	color: #333333; 
	margin-bottom: 0.1em; 
	/*margin-top: 1em;*/ 
	}

h2 {
	color: #008DD3;
	text-transform: uppercase; 
	margin: .2em 0 1em 0; 
	padding: 0; 
	font-size: 2.6em; 
	}

h3 { 
	font-size: 1.8em; 
	}

h4 { 
	font-size: 1.6em; 
	}

h5 { 
	font-size: 1.4em; 
	}

h6 { 
	font-size: 1.2em; 
	}
 
a:link,a:visited {
	color: #333333;
	text-decoration: none;
}

a:hover,a:active {
	color: #333333;
	text-decoration:underline;
}
	
/* Post Styles */
	
#post p a { 
	border-bottom: 1px dotted #424242; 
	}
	
#post p a:hover { 
	border-bottom-style: none; 
	text-decoration: none; 
	color: #a9a9a9; 
	}
	
#post li {
	background: url(images/puce.png) no-repeat left 10px;
	padding-left: 14px;
    }
	
#post h3 { 
	border-bottom-style: dotted; 
	border-bottom-width: 1px; 
	margin-bottom: .5em; 
	padding-bottom: .5em;  
	}
	
/* conteneur */

.conteneur {
	width: 100%;
    text-align:center;
	}

/* Header */

#header div.conteneur h1 a {
	display: block;
	height: 133px;
	text-indent: -9999px;
	width: 133px; 
	background-image: url(images/logo-oria.png); 
	padding-top: 0; 
	position: absolute; 
	top: 15px; 
	left: -50px; 
	}

div.description {
	display: none;
    }
	
a.btn-extranet { 
	background-image: url(images/btn-extranet.png); 
	width: 142px; 
	height: 34px; 
	display: block; 
	right: 0; 
	position: absolute; 
	top: 30px; 
	text-indent: -9999px; 
	}
	
a.btn-extranet:hover { 
	background-position: 0 bottom; 
	}

/* Recherche */

#recherche { 
	text-align: right; 
	margin-top: 32px; 
	position: relative; 
	width: 185px; 
	float: right;
	height: 34px;
}
	
#recherche label { 
	position: absolute; 
	top: 8px; 
	right: 194px; 
	}
	
#recherche p.contener { 
	height: 34px; 
	width: 145px; 
	position: absolute; 
	top: 3px; 
	right: 40px;
	background: url(images/rech-input.jpg) left top;
    }
	
#recherche input#s { 
	-webkit-appearance: none; 
	border-style: none; 
	background-color: transparent; 
	color: #929292; 
	font-size: 15px; 
	height: 30px; 
	width: 140px; 
	margin-top: 2px;
	font-weight: normal;
	font-style: normal;
}
	
#recherche input#btns { 
	position: absolute; 
	right: 0; 
	top: 3px; 
	}

	
/* Main menu */

#mainmenu {
	position: absolute;
	top: 116px;
	z-index: 4;
	width: 750px;
	height: 30px; 
	right: 0; 
	}

#mainmenu ul li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	/*text-shadow:0 1px 0 rgba(0,0,0,.8);*/
	font-size: 12px;
	font-weight: bold;
	line-height: 28px;
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease; 
	}

#mainmenu ul li a:hover {
	/*text-shadow:1px 1px 5px rgba(0,0,0,1);*/
	color: #abdefb;
}
	
/* Breadcrumb */
	
div.breadcrumbs_2 { 
	margin-bottom: 50px; 
	letter-spacing: 1px; 
	font-size: 1.8em; 
	padding-top: 20px; 
	}
	
/* Content */
	
div.exergue { 
	display: block; 
	float: left; 
	margin-top: 1em;
	margin-bottom: 1.5em;
}
	
img.attachment-miniature-accueil.wp-post-image {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	}
	
span.ombrage { 
	background: url(images/ombrage-ovale.png) no-repeat 0 bottom; 
	width: 220px; 
	height: 58px; 
	display: block; 
	margin: 10px 0; 
	padding: 0; 
	}

div.blocacc {
	width: 220px;
	float: right; 
	margin-right: 0px;
    padding-right: 0Px; 
	position: relative; 
	margin-bottom: 10px; 
	padding-bottom: 0; 
	margin-left: 10px; 
	font-size: 1.3em; 
	line-height: 2em;
	}
	
div.blocacc:last-child {
	margin-right: 0Px; 
	}

div.blocacc h3 {
	font-size: 14px;
	margin-right:0px;
	padding-right: 0Px; 
	font-weight: bold;
	text-transform: uppercase; 
	display: table-cell; 
	vertical-align: bottom; 
	width: 220px;
	text-align: center;
}

div.blocacc div.textwidget{ 
	line-height: 1.8em; 
	font-size: .97em; 
	font-style: normal;
}

a.ensavoirplus {
	background-color:rgb(0,142,212);
	height:20px;
	color: white; 
	/*text-shadow: #000000 0 0 0px;*/ 
	text-transform: lowercase; 
	font-size: 13px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	-webkit-transition: background 500ms ease;
	-moz-transition: background 500ms ease;
	-ms-transition: background 500ms ease;
	-o-transition: background 500ms ease;
	transition: background 500ms ease; 
	margin-bottom: 0.2em; 
	text-align: center; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	line-height: 20px; 
	margin-top: 0.8em;
	letter-spacing: 3px;
	width: 219px;
	display: block;
	border-bottom-style: none !important;
}

div.blocacc a.ensavoirplus {
	display: block;
	width: 219px;
}

a:hover.ensavoirplus { 
	background: #333; 
	text-decoration: none; 
	}

/* tagcloud */

#sidebar div.blocacc.tagcloudy h3 {
	display: block;
	margin-bottom: 10px;
	margin-top: 30px;
	height: 15px;
}

#sidebar div.blocacc.tagcloudy a {
	line-height: 1em;
}

/* Blog */

p.blogdate {
	border-top: 1px dotted #d5d5d5;
	border-bottom: 1px dotted #d5d5d5;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #797979;
	text-align: right;
	font-size: 10px !important;
	text-transform: uppercase;
}

/* Pagination */

div.navigation {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.navigation span.page.current {
	background-color: #2b8bd3;
}

/* page */

#post { 
	line-height: 1.9em; 
	font-size: 1.4em; 
    text-align:center;
	}

#post p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Les listes */

#post ul {
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
}

#post ul ul {
	margin-left: 2em;
}

#post ul li {
	list-style-position: inside;
	list-style-image: url(images/puce-1.png);
}

#post ul ul li {
	list-style-image: url(images/check.png);
	list-style-position: inside;
}

/* Les images des posts */

	
/* Category */
	
#category-list li  { 
	background: url(images/sep-footer.png) repeat-x 0 bottom; 
	padding-bottom: 40px; 
	}
	
#category-list li h2  {
	margin-bottom: 10px;
}

#category-list li p { 
	font-size: 1.5em;
	}
	
#category-list li p a { 
	border-bottom-style: dotted; 
	border-bottom-width: 1px; 
	}
	
#category-list li p a:hover { 
	border-bottom-style: none; 
	}
	

/* Gallery */

div.gallery {
	display: block;
	float: left;
}

dt.gallery-icon {
	border: 1px solid #d5d5d5;
	margin-right: 5px;
	margin-left: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 5px 10px;
	background-color: white;
	height: 100px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

dt.gallery-icon:hover {
	border-color: #a9a9a9;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

img.attachment-thumbnail {
	border-style: none !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0 !important;
	padding: 0 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

/* Sidebar */   
	
div.widgetaccueil { 
	float: left; 
	width: 460px; 
	margin: 0 10px; 
}
	
div.widgetaccueil div.textwidget {
	margin: 0;
	padding: 0;
	line-height: 1.9em;
	font-size: 1.4em;
}

div.widgetaccueil div.textwidget p {
	padding: 0;
	margin: 0;
}
	
div.widgetaccueil img { 
	margin-right: 20px;
	float: right;
	margin-top: 10px;
}
	

	
div.widgetaccueil h3 {
	color: #008DD3;
	text-transform: uppercase; 
	margin: 1em 0 0; 
	padding: 0; 
	font-size: 2.5em; 
	}
	
h3.actus { 
	margin: 0; 
	text-transform: uppercase; 
	font-weight: bold; 
	font-size: 1.4em; 
	}

.text {
    font-size:1.6em;
}

/* Footer */
	
#footer a { 
	color: white; 
	/*text-shadow: none;*/
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-ms-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease; 
	}
	
#footer a:hover { 
	color: #008DD3; 
	/*text-shadow: none;*/ 
	text-decoration: none; 
	}

#recommander {
	width: 220px;
	color: #333333;
	text-align: right;
	position: absolute;
	right: 4px;
	top: 4px;
}

#recommander p {
	width: 110px;
	color: white;
	text-align: right;
	float: left;
	text-transform: lowercase;
	margin-top: 10px;
}


/* footer */
/*************************************/
	
ul.menufooter { 
	text-align: center;
	padding-top: 13px;
}

ul.menufooter li {
	display: inline;
}
	
ul.menufooter li a { 
	font-weight: bold; 
	text-transform: uppercase;
	font-size: 1.8em;
	margin-left: 10px;
	margin-right: 10px;
}



/* post */

/* Form */

div.wpcf7 { 
	margin: 0;
	padding: 0; 
	}
	
div.wpcf7 p {
	margin: 0;
	padding: 0; 
	line-height: 1em; 
	}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f7e700;
	padding-top: 5px;
	padding-bottom: 5px;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	z-index: 100;
	background: #f00009;
	width: 280px;
	padding: 5px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	font-size: 10px;
}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7 textarea {
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	border: 1px solid silver; 
	background-color: white; 
	}

.wpcf7 input {
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	border: 1px solid silver; 
	background-color: white; 
	}

.wpcf7 input.submit {
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 15px;
	border: 1px solid silver;
	font-size: 20px;
	color: white;
}

.wpcf7-form-control-wrap br { 
	display: none!important; 
	}
	
/* ------- Fluid Columns ------- */
.un_demi{ width:48%; }
.un_tiers{ width:30.66%; }
.deux_tiers{ width:65.33%; }
.un_quart{ width:22%; }
.trois_quart{ width:74%; }
.un_cinquieme{ width:16.8%; }
.deux_cinquieme{ width:37.6%; }
.trois_cinquieme{ width:58.4%; }
.quatre_cinquieme{ width:67.2%; }
.un_sixieme{ width:13.33%; }
.cinq_sixieme{ width:82.67%; }
.un_demi,.un_tiers,.deux_tiers,.trois_quart,.un_quart,.un_cinquieme,.deux_cinquieme,.trois_cinquieme,.quatre_cinquieme,.un_sixieme,.cinq_sixieme{ position:relative; margin-right:4%; float:left; 
	margin-bottom: 4%; 
	}
.dernier{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}


/** **/

.alignleft {
	margin-bottom: 1em; 
	margin-right: 1.5em; 
	float: left; 
	}

.alignright {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
	
iframe { 
	border: 1px solid #c0c0c0; 
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	
#post blockquote { 
	color: #2860a7; 
	font: italic 2em/1.2em serif; 
	background: url(images/guillemet-ouvert.png), url(images/guillemet-ferme.png);
	background-position: left top, right bottom;
	background-repeat: no-repeat;
	padding-left: 70px; 
	padding-right: 70px; 
	float: left; 
	}
	
a.mail { 
	background: url(images/icns-mail.png) no-repeat 0 3px; 
	padding-left: 24px; 
	}

/* Shema */

div.shema img.alignnone{
	margin: 0 auto;
	display: block;
}

div.shema {
	text-align: center;
}

div.shema div.un_quart {
	margin-right: 10px;
	margin-left: 10px;

}

div.shema h4 {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 15px;
	margin: 0;
}

div.shema p {
	line-height: 1em;
}

/* Newsletter */

div.email_archive_item {
	border-bottom: 1px dotted #c0c0c0;
	background: url(images/puce.png) no-repeat left 9px;
	padding-left: 17px;
}

div.email_archive_item a:hover {
	text-decoration: none;
	color: #2d93da;
}


/* Clearing */

div.clear, p.clear {
	clear: both;
	padding: 0;
	margin: 0;
	height: 1px;
	border-width: 0;
	visibility: hidden;
	line-height: 1px;
	font-size: 1px;
}

div.clear hr {
	display: none;
}