/* ==================================================== */
/* = style.css                                        = */
/* ==================================================== */


/* Styles 
----------------------------------------*/

html, body {
    width: 100%;
    height: 9.999%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background: url(../images/bkgd.png) left bottom;
}

input[type="multiple"] {
    overflow: hidden !important;
}

html {
    font-size: 62.5%;
    overflow: auto;
}

p {
    margin: 2px 0;
    font-size: 13px;
    line-height: 100%;
}

strong {
    font-weight: bold;
}


/* Homepage 
----------------------------------------*/

#content {
    width: 700Px;
    float: left;
}

#contentLogin {
    margin-top: 20Px;
    width: 100%;
    min-height:250Px;
}

#conteneur {
    width: 960Px;
    margin: auto;
}

#modules {
    padding: auto;
    margin: 15px auto auto auto;
}

ul#home-menu {
    margin-top: 10px;
    margin-left: 10px;
}

    ul#home-menu li {
        float: left;
    }

        ul#home-menu li a {
            background-image: none;
            background-color: #eff1ef;
            width: 160px;
            display: block;
            border-radius: 3px;
            margin-right: 10px;
            text-align: center;
            height: 209px;
            -webkit-transition: all .6s ease-in;
            -moz-transition: all .6s ease-in;
            -o-transition: all .6s ease-in;
            transition: all .6s ease-in;
            text-decoration: none;
        }

            ul#home-menu li a:hover {
                background-color: #0098dc;
            }

#home-menu li span.title {
    background-color: #323332;
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 10px;
    height: 35px;
    line-height: 2.8em;
    vertical-align: middle;
}

ul#home-menu li span.title span {
    line-height: 1.3em !important;
    display: inline-block;
}

#home-menu li span.desc {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.3em;
    color: black;
    padding: 10px 10px 20px;
    display: block;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#home-menu li a span.image {
    height: 60px;
    width: 60px;
    display: block;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#home-menu li a:hover span.image {
    background-position: 0 bottom;
}

#home-menu li a:hover span.desc {
    color: white;
}

#home-menu li a.reporting span.image {
    background-image: url(../images/icon-reporting.png);
}

#home-menu li a.perimetre span.image {
    background-image: url(../images/icon-perimetre.png);
}

#home-menu li a.facturation span.image {
    background-image: url(../images/icon-facturation.png);
}

#home-menu li a.zonechange span.image {
    background-image: url(../images/icon-zonechange.png);
}

#home-menu li a.operateurs span.image {
    background-image: url(../images/icon-contratop.png);
}

#home-menu li a.indicateurs span.image {
    background-image: url(../images/icon-indicexploit.png);
}

#home-menu li a.suivi span.image {
    background-image: url(../images/icon-suivi.png);
}

#home-menu li a.gestionco span.image {
    background-image: url(../images/icon-gestionco.png);
}
#home-menu li a.gestionpa span.image {
    background-image: url(../images/icon-gestionpa.png);
}
#home-menu li a.gestionparcfixe span.image {
    background-image: url(../images/icon-gestionparcfixe.png);
}


/* menu sidebar
----------------------------------------*/

ul#homemenu {
}

    ul#homemenu li {
        font-size: 13px;
        font-size: 1.3rem;
        line-height: 1.6em;
        text-align: center;
    }

#homemenu li.lastconnection {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 1em;
    margin-top: 1em;
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
}

.homepage #sidebar-menu {
    padding-top: 3em;
    padding-bottom: 3em;
}

ul#homemenu li a {
    text-align: left !important;
    text-decoration: none;
    color: #323332;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    padding-left: 50px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    margin-top: 5px;
    margin-bottom: 5px;
}

    ul#homemenu li a:hover {
        background-color: white;
    }

#homemenu li a.notice {
    background: url(../images/icon-notice.png) 20px 7px no-repeat;
}

#homemenu li a.favoris {
    background: url(../images/icon-fav.png) 20px 5px no-repeat;
}

/* Header & breadcrumb
----------------------------------------*/

#header {
    width: 100%;
    height: 35px;
}

.breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 12px Lato, Helvetica, Arial, Sans-Serif;
    background-color: #323332;
    border-radius: 3px;
    margin: 2px;
    height: 35px;
    text-transform: uppercase;
}

    .breadcrumb li {
        float: left;
    }

        .breadcrumb li a {
            color: white;
            text-decoration: none;
            padding: 12px 0 10px 65px;
            background: #323332;
            position: relative;
            display: block;
            float: left;
        }

            .breadcrumb li a:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
                border-left: 50px solid #313331;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }

            .breadcrumb li a:before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
                border-left: 50px solid white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                margin-left: 2px;
                left: 100%;
                z-index: 1;
            }

/*.breadcrumb li:first-child a {
            padding-left: 10px;
        }*/
.home {
    padding-left: 10px;
}

.breadcrumb li a:hover {
    background: #37a8e7;
}

    .breadcrumb li a:hover:after {
        border-left-color: #37a8e7 !important;
    }

.breadcrumb li a.home {
    background: url(../images/icon-home.png) right center no-repeat #2c2e2c;
    text-indent: -999px;
    width: 20px;
    padding: 12Px 0 10Px 15Px;
    border-radius: 3px 0 0 3px;
}

    .breadcrumb li a.home:hover {
        background: url(../images/icon-home.png) right center no-repeat #37a8e7;
    }

.breadcrumb li:first-child {
    padding-left: 0Px;
}

    .breadcrumb li:first-child a {
        color: white;
        text-decoration: none;
        padding: 12px 0 10px 10px;
        background: #323332;
        position: relative;
        display: block;
        float: left;
    }

        .breadcrumb li:first-child a:hover {
            background: #E6E6E6;
            padding: 12px 0 10px 10px;
        }

            .breadcrumb li:first-child a:hover:after {
                border-left-color: #E6E6E6 !important;
            }

        .breadcrumb li:first-child a:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 0 solid transparent;
            border-bottom: 0 solid transparent;
            border-left: 0 solid #F1F1F1;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            left: 100%;
            z-index: 2;
        }

        .breadcrumb li:first-child a:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 0 solid transparent;
            border-bottom: 0 solid transparent;
            border-left: 0 solid #F1F1F1;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            margin-left: 2px;
            left: 100%;
            z-index: 1;
        }

/* Sidebar 
----------------------------------------*/


#sidebar {
    width: 224px;
    min-height:500Px;
    float: right;
}

#logo-partner {
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    margin: 2px;
    height: 120Px;
}

#logo-partner-sommaire {
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    margin: 2px;
    height: 120Px;
}

#sidebar-menu {
    border-radius: 3px;
    background-color: #f0f1f0;
    padding: 10px;
    margin: 2px 2px 0;
}

.sidebar-minheight {
    min-height:500Px;
}

#section-name {
    border-radius: 3px;
    background-color: #323332;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin: 2px;
    padding: 10px;
    line-height: 1.6em;
}

.titre {
    text-transform: uppercase;
}

p#section-name.reporting {
    background: url(../images/icon-mini-reporting.png) 15px center no-repeat #323332;
    _background: url(../images/ie6/icon-mini-reporting.gif) 15px center no-repeat #323332; /*IE6*/
    padding-left: 50px;
}

p#section-name.echange {
    background: url(../images/icon-mini-echange.png) 15px center no-repeat #323332;
    _background: url(../images/ie6/icon-mini-echange.gif) 15px center no-repeat #323332; /*IE6*/
    padding-left: 50px;
}


p#section-name.perimetre {
     background: url(../images/icon-mini-perimetre.png) 15px center no-repeat #323332;
    background: url(../images/ie6/icon-mini-perimetre.gif) 15px center no-repeat #323332; /*IE6*/
    padding-left: 50px;
}

p#section-name.facturation {
     background: url(../images/icon-mini-facturation.png) 15px center no-repeat #323332;
    _background: url(../images/ie6/icon-mini-facturation.gif) 15px center no-repeat #323332; /*IE6*/
    padding-left: 50px;
}

p#section-name.contratop {
     background: url(../images/icon-mini-contratop.png) 15px center no-repeat #323332;
    _background: url(../images/ie6/icon-mini-contratop.gif) 15px center no-repeat #323332; /*IE6*/
    padding-left: 50px;
}

p#section-name.indicex {
     background: url(../images/icon-mini-indicexploit.png) 15px center no-repeat #323332;
    _background: url(../images/ie6/icon-mini-indicexploit.gif) 15px center no-repeat #323332; /*IE6*/
    padding-left: 50px;
}

p#section-name.suividep {
     background: url(../images/icon-mini-suividepl.png) 15px center no-repeat #323332;
    _background: url(../images/ie6/icon-mini-suividepl.gif) 15px center no-repeat #323332; /*IE6*/
    padding-left: 50px;
}

p#section-name.gestionco {
     background: url(../images/icon-mini-gestionco.png) 15px center no-repeat #323332;
    _background: url(../images/ie6/icon-mini-gestionco.gif) 15px center no-repeat #323332; /*IE6*/
    padding-left: 50px;
}

p#section-name.gestionpa {
     background: url(../images/icon-mini-gestionpa.png) 15px center no-repeat #323332;
    _background: url(../images/ie6/icon-mini-gestionpa.gif) 15px center no-repeat #323332; /*IE6*/
    padding-left: 50px;
}
p#section-name.gestionparcfixe {
     background: url(../images/icon-mini-gestionparcfixe.png) 15px center no-repeat #323332;
    _background: url(../images/ie6/icon-mini-gestionparcfixe.gif) 15px center no-repeat #323332; /*IE6*/
    padding-left: 50px;
}





a.close {
    padding: 0 10px 0 27px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #323332;
    background: url(../images/icon-closesession.png) left top no-repeat;
    margin-top: 2em;
    margin-left: 15px;
    margin-bottom: 1em;
    line-height: 24px;
    height: 22px;
}

    a.close:hover {
        background-position: left bottom;
        text-decoration: none;
    }

#accordeon div ul li {
    margin: 0;
    padding: 0;
}

    #accordeon div ul li a {
        background: url(../images/bullet-grey.png) 5px center no-repeat;
        padding: 3px 2px 2px 14px;
        text-decoration: none;
        display: block;
        border-radius: 3px;
        overflow: visible !important;
    }

        #accordeon div ul li a.active,
        #accordeon div ul li a:active {
            background-color: #37a8e7;
            color: white;
        }

        #accordeon div ul li a:hover {
            color: black;
        }

.ui-accordion .ui-accordion-content {
    padding: 5px !important;
}

.blocTableau {
    border: 5px solid #BBB;
    background-color: red;
    width: 100%;
    float: left;
}

/* Sidebar Login
----------------------------------------*/

#sidebarLogin {
    float: right;
    width: 30%;
}

/* Main 
----------------------------------------*/



#tabs-Niv1 ul.ui-tabs-nav {
    /* padding-left: 50px;*/
}

div.col1,
div.col2,
div.col3,
div.col4,
div.col5,
div.col6,
div.col7 {
    float: left;
    margin-right: 10px;
    margin-left: 0;
    padding: 0;
}

div.col6{
    margin-top: 3px;
}

.BtnActualiser {
    height: 35Px;
    /*    position: relative;*/
    margin-bottom: 10Px;
}

form p {
    margin: 2px 0;
}

p label {
    width: 105px;
    float: left;
    text-align: right;
    margin-right: 5px;
    line-height: 24px;
}

div.col1 p label {
    line-height: 20px;
    margin-top: 5px;
}


#data-box {
    font-size: 14px;
    font-size: 1.4rem;
    margin-top: 2em;
    padding: 1em;
    background-color: white;
    border-radius: 3px;
}

p.export {
    padding: 10px 0 0 0;
    font-size: 13px;
    font-size: 1.3rem;
}

a.export-pdf,
a.export-excel {
    display: inline-block;
    border-radius: 3px;
    font-size: 10px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 5px;
    width: 35px;
    height: 20px;
}

a.export-pdf {
    background: url(../images/icon-pdf.png) 4px 5px no-repeat #E6E6E6;
    padding-left: 22px;
    padding-right: 5px;
    color: #da191f;
    margin-right: 4px;
}

a.export-excel {
    background: url(../images/icon-xls.png) 4px 6px no-repeat #E6E6E6;
    padding-left: 22px;
    padding-right: 5px;
}

    a.export-pdf:hover,
    a.export-excel:hover {
        background-color: #37a8e7;
        color: white;
    }

a.export-commande {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    width: 200px;
    height: 20px;
    background:  url(../images/icones/ico_Telecharger.png) no-repeat;
    padding-left: 17px;
}
/*.ulonglets {
    height: 43px;
}*/

/*.ContainerTable {
    overflow:auto;
    position:relative;
    z-index:1;
}*/

.SuiviZoneFiltre {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0px;
    border: 2Px solid #8d8e8d;
    border-top: 0Px;
    background-color: #f0f1f0;
}

/* Select 
----------------------------------------*/

.ZoneFiltre span.customSelect {
    padding: 6px 10px;
}

.ZoneFiltre {
    background-color: #F1F1F1;
}

span.customSelect {
    background-color: #00abe8;
    color: white;
    border-style: none;
    border-radius: 3px;
    padding: 3px 10px;
}

    span.customSelect.changed {
        background-color: #f0dea4;
    }

.customSelectInner {
    background: url(../images/fleche-wh-down.png) 82% center no-repeat;
    text-align: left;
    width: 100% !important;
    overflow: hidden;
    padding-right: 25%;
    text-overflow: ellipsis;
}

/*.ob_gCc2 .customSelectInner {
    background: url(../images/fleche-wh-down.png) 97% center no-repeat;
    overflow: hidden;
    padding-right: 20%;
    text-overflow: ellipsis;
    width: 85% !important;
}*/

a.LinkFiltres {
    font-size: 12px;
    float: left;
    padding: 4px 10px 4px 17px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10Px;
    background: url('../images/icon-plus.png') no-repeat left center transparent;
    text-transform: uppercase;
    display:block;width:100%;
}

    a.LinkFiltres.highlight {
        background: url('../images/icon-moins.png') no-repeat left center;
    }

.DivColonnes {
    background-color: #E6E6E6;
    border-radius: 3px;
    padding: 5px 0;
    margin: 10Px 0 5px;
    font-size: 13px;
    font-size: 1.3rem;
    float: left;
    width: 100%;
}

.cv-left {
    float: left;
}

.cv-right {
    float: left;
    padding-left: 10Px;
}

.divDownloadButtonExcel {
    position:relative;
    float:left;
    width:100%;
}

.downloadButtonExcel {
    line-height: 32Px;
    vertical-align: super;
    position: relative;
    left: 5Px;
    font: 12Px Lato,Arial,sans-serif;
}

.col3 .custom-checkbox {
    display: block;
    float: left;
}

.col3 p.checkbox label {
    text-align: left;
    font-size: 13px;
    /*font-size: 1.3rem;*/
    width: auto;
    margin-right: 15px;
}

.ConTable {
    float: left;
    overflow: auto;
}

/* Login 
----------------------------------------*/

#login {
    border-radius: 5px;
    background: url(../images/oria_bg_form.jpg) right top repeat-y;
    padding: 20px;
    text-align: center;
    margin: 0;
    text-shadow: none;
    display:inline-block;
}

    #login input {
        border-radius: 5px;
        padding: 1%;
        text-align: left;
        margin-bottom: 7px;
        border-bottom-style: none;
        border: 2px solid transparent;
        font-size: 17px;
        font-size: 1.7rem;
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        width: 50%;
    }

        #login input:focus {
            border: 2px solid #0090d5;
            color: black;
        }

        #login input#ES_Login {
            background: url(../images/icon-id-off.png) 98% center no-repeat white;
        }

            #login input#ES_Login:focus {
                background: url(../images/icon-id-on.png) 98% center no-repeat white;
            }

        #login input#ES_Pass {
            background: url(../images/icon-lock-off.png) 98% center no-repeat white;
        }

            #login input#ES_Pass:focus {
                background: url(../images/icon-lock-on.png) 98% center no-repeat white;
            }

    #login a {
        color: white;
    }

    #login input#BP_Valider {
        background-color: #0098dc;
        text-align: center;
        color: white;
        width: 53%;
    }

        #login input#BP_Valider:hover {
            background-color: #e9eff1;
            cursor: pointer;
            color: #323332;
        }


/* Footer 
----------------------------------------*/

#footer {
    background-color: #333333;
    height: 35px;
    border-radius: 3px;
    margin: 2px;
    display: block;
}

    #footer #footer-menu {
        float: left;
    }

    #footer #footer-links {
        float: right;
    }

    #footer #footer-menu li {
        max-width: 140px;
        text-align: left;
    }

    #footer #footer-menu li {
        float: left;
        color: white;
        text-transform: uppercase;
        line-height: 32px;
        height: 35px;
    }

        #footer #footer-menu li a {
            font-size: 12px;
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            padding: 2px 10px 2px 35px;
            margin: 0 2px 2px 3px;
            line-height: 22px;
            border-radius: 3px;
            display: inline-block;
            vertical-align: middle;
            -webkit-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            transition: all .2s ease-in;
            max-width: 140px;
        }

#footer-menu li a span {
    display: inline-block;
    vertical-align: middle;
    line-height: 11px;
    max-width: 140px;
}

#footer #footer-menu li a:hover {
    background-color: #37a8e7;
}


#footer #footer-links li {
    float: right;
}

#footer #footer-links li {
    font-size: 11px;
    float: left;
    display: inline-block;
    color: white;
    line-height: 32px;
    vertical-align: middle;
    height: 35px;
    margin-right: 20px;
}

    #footer #footer-links li a {
        font-size: 12px;
        color: white;
        text-decoration: none;
        line-height: 12px;
    }

    #footer #footer-links li.logofoot {
        margin-top: 3px;
        height: 24px;
        text-indent: -9999px;
        width: 85px;
        height: 22px;
        float: right;
        background: url('../images/logo-oria-xs.png') no-repeat;
    }

a.reporting,
a.contratop,
a.indicex,
a.suividep,
a.facturation,
a.gestionco,
a.perimetre,
a.zonechange,
a.gestionpa {
    background-repeat: no-repeat;
    background-position: 3px 2px;
    height: 25px;
}
a.gestionparcfixe {
    background-repeat: no-repeat;
    background-position: 3px 2px;
    height: 25px;
}


a.reporting {
    background-image: url('../images/icon-mini-reporting.png');
}

a.contratop {
    background-image: url('../images/icon-mini-contratop.png');
}

a.indicex {
    background-image: url('../images/icon-mini-indicexploit.png');
}

a.suividep {
    background-image: url('../images/icon-mini-suividepl.png');
}

a.facturation {
    background-image: url('../images/icon-mini-facturation.png');
}

a.gestionco {
    background-image: url('../images/icon-mini-gestionco.png');
}

a.perimetre {
    background-image: url('../images/icon-mini-perimetre.png');
}

a.zonechange {
    background-image: url('../images/icon-mini-zonechange.png');
}
a.gestionpa {
    background-image: url('../images/icon-mini-gestionpa.png');
}
a.gestionparcfixe {
    background-image: url('../images/icon-mini-gestionparcfixe.png');
}



/* Select 
----------------------------------------*/

select [multiple='multiple'] {
    overflow-y: scroll;
    overflow-x: hidden;
}



.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font: 12Px Arial,sans-serif;
}


.ob_iDdlIE {
    border-style: none !important;
    color: #fff !important;
}


/* Zone echange 
----------------------------------------*/

#echange-menu #section-name {
    border-radius: 3px;
    background-color: #323332;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 2px;
    padding: 10px;
    line-height: 1.6em;
    background: url(../images/icon-mini-zonechange.png) 15px center no-repeat #323332;
    padding-left: 50px;
}

#echange-menu ul {
    position: absolute;
    left: 224px;
    bottom: 0;
}

#echange-menu li {
    float: left;
}

    #echange-menu li a {
        display: block;
        background-color: #37a8e7;
        background-repeat: no-repeat;
        border-radius: 3px;
        margin-right: 2px;
        margin-bottom: 1px;
        padding: 10px 10px 10px 55px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 24px;
        background-position: 10px center;
        height: 26px;
        margin-top: 1px;
    }

        #echange-menu li a:hover {
            opacity: .8;
        }

        #echange-menu li a span {
            display: inline-block;
            vertical-align: middle;
            line-height: 13px;
        }

#echange-menu ul li a.tel-dossier {
    background-image: url(../images/icon-teldossier.png);
}

#echange-menu ul li a.env-fichier {
    background-image: url(../images/icon-envfichier.png);
}

#echange-menu ul li a.crea-dossier {
    background-image: url(../images/icon-creadossier.png);
}

#echange-menu ul li a.sup-dossier {
    background-image: url(../images/icon-supdossier.png);
}

#echange-menu ul li a.aide {
    background-image: url(../images/icon-aide.png);
}

#echange-menu ul li a.actualiser {
    background-image: url(../images/icon-actualiser-big.png);
}

#echange-menu a.close {
    float: right;
}

#echange-nav {
    margin-left: 1px;
}

    #echange-nav li {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 5px;
    }

    #echange-nav ul ul li {
        margin-left: 20px;
    }

    #echange-nav li a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
    }

#echange-main {
    margin-right: 1px;
}


#GV_ListeFichiers td {
    padding: 5px;
    color: black;
}

.ob_gC select.styled.hasCustomSelect {
    width: 100% !important;
    height: auto !important;
}

.hasCustomSelect option {
    width: 330Px;
}

.LigneInsert .customSelect {
    line-height:18Px;
}

/* Les onglets niv 2
----------------------------------------*/

#tabs-Niv2-1 ul.ulonglets,
#tabs-Niv2-2 ul.ulonglets,
#tabs-Niv2-3 ul.ulonglets,
#tabs-Niv2-4 ul.ulonglets,
#tabs-Niv2-5 ul.ulonglets {
    background: none;
    font-size: 12px;
}

    #tabs-Niv2-1 ul.ulonglets li,
    #tabs-Niv2-2 ul.ulonglets li,
    #tabs-Niv2-3 ul.ulonglets li,
    #tabs-Niv2-4 ul.ulonglets li,
    #tabs-Niv2-5 ul.ulonglets li {
        border: none;
    }

        #tabs-Niv2-1 ul.ulonglets li a,
        #tabs-Niv2-2 ul.ulonglets li a,
        #tabs-Niv2-3 ul.ulonglets li a,
        #tabs-Niv2-4 ul.ulonglets li a,
        #tabs-Niv2-5 ul.ulonglets li a {
            border-radius: 4px;
            padding: 5px 20px;
            border: 1px solid #ccc;
        }

            #tabs-Niv2-1 ul.ulonglets li.ui-corner-top,
            #tabs-Niv2-2 ul.ulonglets li.ui-corner-top,
            #tabs-Niv2-3 ul.ulonglets li.ui-corner-top,
            #tabs-Niv2-4 ul.ulonglets li.ui-corner-top,
            #tabs-Niv2-5 ul.ulonglets li.ui-corner-top,
            #tabs-Niv2-1 ul.ulonglets li a:focus,
            #tabs-Niv2-2 ul.ulonglets li a:focus,
            #tabs-Niv2-3 ul.ulonglets li a:focus,
            #tabs-Niv2-4 ul.ulonglets li a:focus,
            #tabs-Niv2-5 ul.ulonglets li a:focus {
                border-radius: 4px !important;
            }

        #tabs-Niv2-1 ul.ulonglets li.ui-tabs-active a,
        #tabs-Niv2-2 ul.ulonglets li.ui-tabs-active a,
        #tabs-Niv2-3 ul.ulonglets li.ui-tabs-active a,
        #tabs-Niv2-4 ul.ulonglets li.ui-tabs-active a,
        #tabs-Niv2-5 ul.ulonglets li.ui-tabs-active a,
        #tabs-Niv2-1 ul.ulonglets li.ui-state-disabled a,
        #tabs-Niv2-2 ul.ulonglets li.ui-state-disabled a,
        #tabs-Niv2-3 ul.ulonglets li.ui-state-disabled a,
        #tabs-Niv2-4 ul.ulonglets li.ui-state-disabled a,
        #tabs-Niv2-5 ul.ulonglets li.ui-state-disabled a,
        #tabs-Niv2-1 ul.ulonglets li.ui-tabs-loading a,
        #tabs-Niv2-2 ul.ulonglets li.ui-tabs-loading a,
        #tabs-Niv2-3 ul.ulonglets li.ui-tabs-loading a,
        #tabs-Niv2-4 ul.ulonglets li.ui-tabs-loading a,
        #tabs-Niv2-5 ul.ulonglets li.ui-tabs-loading a {
            font-weight: bold !important;
            background-color: transparent;
            border: none;
        }

        #tabs-Niv2-1 ul.ulonglets li.ui-state-hover a,
        #tabs-Niv2-2 ul.ulonglets li.ui-state-hover a #tabs-Niv2-3 ul.ulonglets li.ui-state-hover a #tabs-Niv2-4 ul.ulonglets li.ui-state-hover a #tabs-Niv2-5 ul.ulonglets li.ui-state-hover a {
            border-color: #000;
        }

.HideSommaire {
    height: 35px;
}

/* Divers 
----------------------------------------*/

/* clearfix : http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.clearfix {
    display: inline-table;
}

/* Hides from IE-mac \*/
.clearfix {
    /*height: 1%;*/
}

.clearfix {
    display: block;
}
/* End hide from IE-mac */


/* Onglets niveau 2 
----------------------------------------*/

.onglets2 .ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.onglets2 .ui-helper-clearfix:before,
.onglets2 .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.onglets2 .ui-helper-clearfix:after {
    clear: both;
}

.onglets2 .ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}

.onglets2 .ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

.onglets2 .ui-front {
    z-index: 100;
}

.onglets2 .ui-widget-header {
    border-bottom: 1px solid #ccc;
    background: #fff url(images/ui-bg_flat_0_fff_40x100.png) 50% 50% repeat-x;
    color: #16212C;
    font-weight: bold;
    text-transform: uppercase;
}

    .onglets2 .ui-widget-header a {
        color: #16212C;
    }

.loading-image {
    position: absolute;
    left: 50%;
    height: 30px;
    width: 200px;
    margin-left: -200px;
    top: 45%;
    background-color: #f0f1f0;
    text-align: center;
    vertical-align: middle;
    padding-top: 13Px;
    border: 1Px solid #00AAE8;
    z-index: 10;
}

.sommaire {
    position: relative;
}

.loading-image-popup {
    position: absolute;
    left: 50%;
    height: 30px;
    width: 200px;
    margin-left: -200px;
    top: 80%;
    background-color: #f0f1f0;
    text-align: center;
    vertical-align: middle;
    padding-top: 13Px;
    margin-top: 120px;
    border: 1Px solid gray;
    z-index: 10;
}

.elementGraphique {
    overflow: auto;
}

.divTableau {
    overflow-x: auto;
    overflow-y: hidden;
    /*max-height: 300px;*/
}

/* Tableaux 
----------------------------------------*/
.C_Tableau {
    border: 1Px solid #FFFFFF;
    border-collapse: collapse;
}

.C_entete_Valeurs, .C_entete_Informations, .C_entete_Total, .C_entete_Progression {
    text-align: center;
    vertical-align: middle;
    font: bold 11px Lato,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #0095db;
    margin-left: 5px;
    text-transform: uppercase;
    /*    position:relative;*/
    line-height: 22px;
    /*    background-color:#E6E6E6;*/
    border: 1px solid #FFFFFF;
    /*    border-collapse:collapse;*/
}
/*
.C_image_tri {
    margin-right:0Px;
    padding-right:0Px;
    position:absolute;
    top:4Px;
    right:4Px;
}
*/

.C_image_tri {
    float: right;
    margin-left: 5px;
    margin-right: 0;
}

.C_donnees_Valeurs, .C_donnees_Informations {
    vertical-align: middle;
    font: 12Px Lato,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #206797 !important;
    line-height: 22px;
    border: 1Px solid #FFFFFF;
    border-collapse: collapse;
}

.C_donnees_Valeurs_Seuil, .C_donnees_Informations_Seuil {
    vertical-align: middle;
    font: 12Px Lato,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #B22222 !important;
    line-height: 22px;
    border: 1Px solid #FFFFFF;
    border-collapse: collapse;
}

.C_Fusion{
    background-color: #f1f1f1;
}

.C_donnees_Informations {
    background-color:#ECECEC;
}

.C_donnees_Valeurs a, .C_donnees_Informations a {
    vertical-align: middle;
    font: 12Px Lato,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #206797 !important;
 
}

.IndicateurExploitation{
    height:15px;
    width:15px;
    margin-left:2px;
    margin-right:2px;
    cursor:pointer;
    line-height: 22px;
    vertical-align: text-bottom;
}

.GestionParc{
    height:15px;
    width:15px;
    margin-left:2px;
    margin-right:2px;
    cursor:pointer;
    line-height: 22px;
    vertical-align: text-bottom;
}

.iconesanslien{
    height:15px;
    width:15px;
    margin-left:2px;
    margin-right:2px;
    line-height: 22px;
    vertical-align: text-bottom;
}

.hand{
    cursor:pointer;
}

.IndicateurFacturation {
    margin-left:2px !important;
    margin-right:4px !important;
    height:12px !important;
    width:12px !important;
    border-left:2px !important;
}


.C_Hover:hover {
    background-color: #ECECEC !important ;
    background: #ECECEC !important;
}

.C_Hover:hover .Extrapolation {
    background-color: #c0ced5 !important ;
    background: #c0ced5 !important;
}

.Extrapolation{
    background-color:#dbe4e9;
}

.LegendeExtrapolation{
    width:25px;
    height:15px;
    background-color:#dbe4e9;
    float:left;
}

.MontantExtrapole {
    padding-left:5Px;
}

.click {
    background-color: #ECECEC;
    background: #ECECEC;
}

.C_total, .C_total_Fusion {
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    font: bold 12Px Lato,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #0095db;
    line-height: 24Px;
    background-color: #E6E6E6;
    border: 1Px solid #FFFFFF;
    border-collapse: collapse;
}

.C_donnees_Total {
    text-align: center;
    vertical-align: middle;
    font: bold 12Px Lato,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #0095db;
    line-height: 22Px;
    border: 1Px solid #FFFFFF;
    border-collapse: collapse;
    /*background-color:#F4F4F4;*/
}


.C_donnees_Total_Seuil {
    text-align: center;
    vertical-align: middle;
    font: bold 12Px Lato,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #B22222 !important;
     line-height: 22Px;
    border: 1Px solid #FFFFFF;
    border-collapse: collapse;
}

.c_Pagination {
    vertical-align: middle;
    /*text-align:right;*/
    padding-top: 10px;
}


/*.divTableau div {
    max-height:300Px;
}*/

.selected_row {
    background-color: #CCCCCC;
}

.C_Tableau thead {
    /*position:relative;*/
    display: block;
    /*    border-bottom: 1px solid #fff;*/
    background-color: #E6E6E6 !important;
}

.C_Tableau tbody {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.C_Tableau tfoot {
    display: block;
}

/*.C_Tableau tfoot p {
   font-size: 12px;
}*/


.notification_menu{
   width: 19px;
text-align: center;
/* vertical-align: text-top; */
float: right;
color: #FFFFFF;
font-weight: bold;
font-size: 11px;
padding-right: 2px;
background-image: url(../images/icones/ico_notification.png);
background-repeat: no-repeat;
background-size: 19px 19px;
background-position-x: 0px;
background-position-y: 1px;
}


.c_Pagination .hasCustomSelect {
    font-size: 13Px;
}

.C_divTableauPagination {
    overflow: hidden;
}

.titreTableau {
    font: italic small Lato,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-align: left;
    margin-bottom: 7Px;
}

.styled {
    width: 130Px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.InsertText {
    border-style: none;
    border-radius: 2px 0 0 2px;
    margin: 2px;
}

.LigneInsert{
    text-align:center;
}

.LigneInsert td{
    border:1Px solid #ffffff;
}


.boutonValidationAjout{
    right:5Px;
    width:15Px;
    height:15Px;
}

.boutonValidationEdit{
    right:5Px;
    width:15Px;
    height:15Px;
}

.boutonAnulationEdit{
    right:5Px;
    width:15Px;
    height:15Px;
}

.DivFictiveFooter {
    overflow: hidden;
    border: 1Px solid #f1f1f1;
    height:35px;
}

.LigneInsert p select{
    /*vertical-align:middle;*/
    padding-top:12px;
}

#UpdatePanelEntetes {
    display:none;
}

/* TEMP */
.CssOldIE {
    border-collapse: collapse;
    width: 100%;
}

.CssOldIE thead {
    text-align:left;
    display: table;
    float: left;
    width: 100%;
}

.CssOldIE thead tr {
    display: table-row;
    width: 100%;
}

.CssOldIE tfoot {
    text-align:left;
    display: table;
    float: left;
    width: 100%;
}

.CssOldIE tfoot tr {
    display: table-row;
    width: 100%;
}

.CssOldIE tbody {
    display: block;
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    width: 100%;
}

.CssOldIE tbody tr {
    display: table;
    width: 100%;
}

.CssOldIE tbody tr {
    height: 18px;
}

.CssOldIE tr:after{
    content: ".";
    visibility: hidden;
}

/* POPUP */

.mfp-fade.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.Deconnexion {
    position:absolute;
    right:15Px;
    top:5Px;
    line-height:30Px;
}



/********************/
/* Login et Default */
#header2 {
	height: 154px;
	margin: 0 auto;
	padding: 0; 
	width: 1070px; 
	position: relative; 
}

#header2  h1 a {
	display: block;
	height: 103px;
	text-indent: -9999px;
	width: 309px;
	background: url(images/logo-oriantel.png) no-repeat;
	padding-top: 0; 
	position: absolute; 
	top: 15px; 
	left: 0;
	background-size: 100%;
}

.conteneur2 {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	position: relative; 
	padding-top: 0; 
	padding-bottom: 0;
}

div.description {
	display: none;
}

/* Main menu */

#mainmenu2 {
	position: absolute;
	top: 116px;
	z-index: 4;
	width: 750px;
	height: 30px; 
	right: 0; 
}

#mainmenu2 ul li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow:0 1px 0 rgba(0,0,0,.8);
	font-size: 12px;
	font-weight: bold;
	line-height: 28px;
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease; 
}

#mainmenu2 ul li a:hover {
	text-shadow:1px 1px 5px rgba(0,0,0,1);
	color: #abdefb;
}

/* Footer */
#footer2 {
    width:100%;
	background: #333333 0;
	color: white;
	margin-bottom: 0;
	text-shadow: none;
	height: 40px;   
	position: fixed;
	bottom: 0;
}

#footer2 a { 
	color: white; 
	text-shadow: none;
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-ms-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease; 
	}
	
#footer2 a:hover { 
	color: #008DD3; 
	text-shadow: none; 
	text-decoration: none; 
	}

/* footer */
/*************************************/

#recommander {
	width: 220px;
	color: #333333;
	text-align: right;
	position: absolute;
	right: 4px;
	top: 4px;
}

ul.menufooter { 
	text-align: center;
	padding-top: 13px;
}

ul.menufooter li {
	display: inline;
}
	
ul.menufooter li a { 
	font-weight: bold; 
	text-transform: uppercase;
	font-size: 1.1em;
	margin-left: 10px;
	margin-right: 10px;
}

.arrondi {
    border: 1px solid #00abe8;
    text-align: center;
    width: 40Px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #00abe8;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#00abe8), to(#00abe8));
    background: -webkit-linear-gradient(#00abe8, #00abe8);
    background: -moz-linear-gradient(#00abe8, #00abe8);
    background: -ms-linear-gradient(#00abe8, #00abe8);
    background: -o-linear-gradient(#00abe8, #00abe8);
    background: linear-gradient(#00abe8, #00abe8);
    -pie-background: linear-gradient(#00abe8, #00abe8);
    /*behavior: url(../js/PIE.htc);*/
}

.lienPostIt {
    display:block;
    width:100%;
    height:100%;
    color:#37a8e7;
}

.lienPostIt:hover {
    cursor:pointer;
}