/* @override https://www.extranet.oria.fr/Oriantel_Dev/css/table.css */

/* ==================================================== */
/* = table.css : Gestion des tableaux				  = */
/* ==================================================== */

div.ContainerTable {
	width: 100%;
	/*overflow-x: scroll !important;*/
	margin-bottom: 40px;
}


table#tabRapportEntete {
	width: 100%;
	font-size: 12px;
	text-transform: uppercase;
}

table#tabRapport  {
	width: 100%;
	font-size: 12px;
	border-style: none;
	border-top: 2px solid #00abe8;
}


table#tabRapportEntete th,
table#tabRapport th {
	width: 20%;
	padding-left: 5px;
	padding-right: 5px;
	border-style: none;
}

table#tabRapportEntete td,
table#tabRapport td {
	width: 30px;
	text-align: center;
	padding: 4px 10px;
	border-style: none;
}

table#tabRapportEntete,
table#tabRapportEntete th {
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

table#tabRapport tr:nth-child(2n+1){
	background-color: #f4f4f4;
}

table#tabRapportEntete a {
	text-decoration: none;
	color: #097ba3 !important;
}

#tabRapport tfoot,
#tabRapport tfoot th {
	font-weight: bold;
	border-top: 2px solid #00abe8;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
}